@page ""
@model IndexModel
@{
    ViewData["Title"] = "Items";
}

<form method="post">
    <input type="hidden" asp-for="@Model.IndexViewModel.AllCategoriesJson" />
    <div class="row">
        <div class="col-auto">
            <h2>Items</h2>
        </div>
        <div class="col-sm-2">
            <select class="form-select" asp-for="@Model.IndexViewModel.SelectedCategory" onchange="this.form.submit()">
                @foreach (var category in Model.IndexViewModel.AllCategories)
                {
                    if (category == Model.IndexViewModel.SelectedCategory)
                    {
                        <option value="@category" selected>@category</option>
                    }
                    else
                    {
                        <option value="@category">@category</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <a asp-page="./Category/Create" class="btn btn-outline-success">New</a>
        </div>
    </div>
        <hr />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    @foreach (var fields in Model.IndexViewModel.Items.FirstOrDefault().Fields)
                    {
                        <th>@fields.Name</th>
                    }
                    <th class="action-column-header">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.IndexViewModel.Items)
                {
                    <tr>
                        @foreach (var field in item.Fields)
                        {
                            <td>@field.Value</td>
                        }
                        <td class="action-column">
                            <a class="edit-icon-color action-link" asp-page="./Edit" asp-route-id="@item.Oid"><i class="material-icons">edit</i></a>
                            <button asp-page-handler="Delete" asp-route-id="@item.Oid" class="action-button delete-icon-color material-icons btn">delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>